footer {
    margin-top: 10px;
}

.text-5xl {
    font-weight: 900;
    color: white;
}

.text-2xl {
    font-weight: 900;
    color: white;
}

#get-started-btn {
    background-color: rgb(241, 21, 31);
    color: white;
    border-radius: 8px;
}

#start-quiz-button {
    background-color: rgb(241, 21, 31);
    color: white;
    border-radius: 8px;
}

#reset-quiz-button {
    background-color: rgb(241, 21, 31);
    color: white;
    border-radius: 8px;
}
.custom-color {
    background-color: rgb(241, 21, 31);
    color: white;
    border-radius: 8px;

}
.hover-custom-color-2:hover {
    background-color: #D3AF37; /* Use your custom hover color code here */
  }


.hide {
    display: none;
}

.show {
    display: block;
}


#name {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;
    transform-origin: center;
  }

  .custom-blur {
    backdrop-filter: blur(10px); /* Increase px value as needed for a stronger effect */
  }

.bg-cover {
    background-image: url('assets/images/Marvel Image.jpg');
}

#name, #start-quiz-button {
    box-sizing: border-box;
    padding: 0.75rem 1rem; /* Example padding, adjust as needed */
    border-width: 2px; /* Example border width, adjust as needed */
  }

  .red-bold {
    color: rgb(241, 21, 31);
    font-weight: bold;
  }