.text-5xl {
    font-weight: 900;
    color: white;
}

.text-2xl {
    font-weight: 900;
    color: white;
}
#get-started-btn {
    font-size: xxx-large;
    background-color: rgb(241, 21, 31);
    color: white;
    border-radius: 8px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bg-cover {
    background-image: url('assets/images/Marvel Image.jpg');
}